<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student information export</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta name="theme-color" content="#fafafa" />
    <meta name="msappdivcation-navbutton-color" content="#fafafa" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="lack-translucent"
    />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="google" value="notranslate" />
    <meta content="origin" name="referrer" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/@kongying-tavern/normalize.css@latest"
    />
    <link rel="apple-touch-icon" sizes="57x57" href="https://vuejs.org/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://vuejs.org/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://vuejs.org/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://vuejs.org/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://vuejs.org/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://vuejs.org/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://vuejs.org/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://vuejs.org/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://vuejs.org/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://vuejs.org/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://vuejs.org/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://vuejs.org/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://vuejs.org/images/icons/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="https://vuejs.org/images/icons/ms-icon-144x144.png">
    <link rel="icon" href="https://vuejs.org/images/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/export.css" />
    <script
      crossorigin="anonymous"
      src="https://b.alicdn.com/s/polyfill.min.js?features=%7Ehtml5-elements%2CCSS.supports%2ClocalStorage%2Cdefault%2Ces6%2Ces2015%2Ces2016%2CElement.prototype.scroll%2CElement.prototype.scrollBy%2CglobalThis%2Cfetch%2CURLSearchParams"
    ></script>
    <script src="//unpkg.com/xlsx/dist/shim.min.js"></script>
    <script src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="//unpkg.com/blob.js@1.0.1/Blob.js"></script>
    <script src="//unpkg.com/file-saver@1.3.3/FileSaver.js"></script>
    <script type="module" src="/js/export.js"></script>
  </head>
  <body>
    <noscript>
      <h2>(:</h2>
      <p>We"re sorry but</p>
      <p>This page requires JavaScript to work properly</p>
    </noscript>
    <div class="app" v-scope>
      <div id="container" v-html="initTable(store.data)"></div>
      <div id="controller">
        <input type="submit" value="Export to XLSX!" @click="doit('xlsx');" />

        <input type="submit" value="Export to XLSB!" @click="doit('xlsb');" />

        <input
          type="submit"
          value="Export to XLS!"
          @click="doit('biff8', 'SheetJSTableExport.xls');"
        />

        <input type="submit" value="Export to ODS!" @click="doit('ods');" />

        <input
          type="submit"
          value="Export to FODS!"
          @click="doit('fods', 'SheetJSTableExport.fods');"
        />

        <input
          type="submit"
          value="Export to XLML!"
          @click="doit('xlml', 'SheetJSTableExport.xml');"
        />
      </div>
    </div>
  </body>
</html>
